[Unit]
Description=Configure marvell switch by loading board configuration file
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/autoware/services/configure_marvell_switch/configure_marvell_switch.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
