KERNELS=="0000:06:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x0", NAME="peakcan0"
KERNELS=="0000:06:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x1", NAME="peakcan1"
KERNELS=="0000:06:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x2", NAME="peakcan2"
KERNELS=="0000:06:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x3", NAME="peakcan3"
KERNELS=="0000:07:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x0", NAME="peakcan4"
KERNELS=="0000:07:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x1", NAME="peakcan5"
KERNELS=="0000:07:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x2", NAME="peakcan6"
KERNELS=="0000:07:00.0", DRIVERS=="peak_pciefd", ATTR{dev_id}=="0x3", NAME="peakcan7"
KERNELS=="1-12:1.0", DRIVERS=="f81604", ATTR{dev_port}=="0", NAME="fintekcan0"
KERNELS=="1-12:1.0", DRIVERS=="f81604", ATTR{dev_port}=="1", NAME="fintekcan1"
KERNELS=="1-13:1.0", DRIVERS=="f81604", ATTR{dev_port}=="0", NAME="fintekcan2"
KERNELS=="1-13:1.0", DRIVERS=="f81604", ATTR{dev_port}=="1", NAME="fintekcan3"
