/**:
  ros__parameters:
    hazard_topic: /system/emergency/hazard_status
    # Please choose "emergency" or "emergency_holding" for emergency_type.
    emergency_type: emergency_holding
    retry_interval_for_realtime_recording_db_file_in_sec: 3
    keep_duration_before_trigger_in_sec: 60
    keep_duration_after_trigger_in_sec: 15
    input_directory: "{{ temporary_logging_directory }}"
    output_directory: "{{ rosbag_logging_directory }}"
    # must_be_mountpoint: please set a path for a mountpoint. No check if ""
    must_be_mountpoint: "{{ rosbag_logging_directory_mountpoint }}"
    cleanup_input_dir: true
    # disable_if_control_mode_is_manual: "true" or "false"
    disable_if_control_mode_is_manual: true
    # stop_bagpacker_record_after_keep_duration: "true" or "false". if "false", "cleanup_input_dir" is ignored.
    stop_bagpacker_record_after_keep_duration: true
    rate_in_hz: 2.0
    # dbg_trigger_datetime format: YYYY_mm_dd-HH_MM_SS
    dbg_trigger_datetime: ""
    qos_depth: 1000
    event:
      /vehicle/status/control_mode:
        mode: 4
        config:
          evaluation_period_in_sec: 10
          repeat_count: 10
      /system/emergency/hazard_status:
        emergency_holding: true
        config:
          changed: true
    diagnostics:
      include:
        "*": default
      # exclude:
