/**:
  ros__parameters:
    retry_interval_for_realtime_recording_db_file_in_sec: 3
    keep_duration_before_trigger_in_sec: 60
    keep_duration_after_trigger_in_sec: 15
    input_directory: "{{ temporary_logging_directory }}"
    output_directory: "{{ rosbag_logging_directory }}"
    # must_be_mountpoint: please set a path for a mountpoint. No check if ""
    must_be_mountpoint: "{{ rosbag_logging_directory_mountpoint }}"
    cleanup_input_dir: false
    # disable_if_control_mode_is_manual: "true" or "false"
    disable_if_control_mode_is_manual: false
    # stop_bagpacker_record_after_keep_duration: "true" or "false". if "false", "cleanup_input_dir" is ignored.
    stop_bagpacker_record_after_keep_duration: true
    rate_in_hz: 2.0
    # dbg_trigger_datetime format: YYYY_mm_dd-HH_MM_SS
    dbg_trigger_datetime: ""
    qos_depth: 1000
    event:
      /vehicle/status/control_mode:
        mode: 4
        config:
          changed: true
      /system/emergency/hazard_status:
        emergency: true
        config:
          changed: true
    diagnostics:
      include:
        "*": default
      exclude:
        "topic_state_monitor_radar_front_right: radar_front_right_topic_status": default
        "topic_state_monitor_radar_front_left: radar_front_left_topic_status": default
        "topic_state_monitor_radar_rear_right: radar_rear_right_topic_status": default
        "topic_state_monitor_radar_rear_left: radar_rear_left_topic_status": default
        "kdump_status": default
        "rosbag_status": default
        "temperature_monitor: temperature_monitor": default
        "service_log_checker: response_status": default
        "duplicated_node_checker: duplicated_node_checker": default
        "rotation_status": default
        "front_left/radar_link": default
        "front_right/radar_link": default
        "rear_left/radar_link": default
        "rear_right/radar_link": default
        "logpacker_state": default
        "disk1_status": default
        "disk2_status": default
        # Message size over the fragment threshold will be fragmented and reassembled.
        "net_monitor: IP Packet Reassembles Failed": default
        # The route will be set as unset after the vehicle arrives at its goal.
        "component_state_diagnostics: route_state": default
