[Unit]
Description=Synchronize the clock of enp3s0 to the one of enp5s0f0
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -s enp5s0f0 -c enp3s0 -O 0 -m -w --domainNumber 1
ExecStop=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target network-online.target
