[Unit]
Description=PTPv2 for synchronizing main and sub ECU
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -i enp5s0f0 -s -4 -H -m -E --domainNumber 1 --uds_address /var/run/ptp4l.enp5s0f0
ExecStop=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target network-online.target
