<?xml version="1.0" encoding="UTF-8"?>
<CycloneDDS xmlns="https://cdds.io/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://cdds.io/config https://raw.githubusercontent.com/eclipse-cyclonedds/cyclonedds/master/etc/cyclonedds.xsd">
  <Domain id="any">
    <General>
      <Interfaces>
{% for item in x2_cyclonedds_for_redundancy.network_interface %}
        <NetworkInterface name="{{ item.address }}" priority="{{ item.priority }}" multicast="default" />
{%endfor%}
      </Interfaces>
      <AllowMulticast>spdp</AllowMulticast>
      <MaxMessageSize>{{ x2_cyclonedds_for_redundancy.max_message_size }}</MaxMessageSize>
      <FragmentSize>{{ x2_cyclonedds_for_redundancy.fragment_size }}</FragmentSize>
      <MaxRexmitMessageSize>{{ x2_cyclonedds_for_redundancy.max_rexmit_message_size }}</MaxRexmitMessageSize>
      <DontRoute>true</DontRoute>
    </General>
    <Internal>
      <Watermarks>
        <WhcHigh>{{ x2_cyclonedds_for_redundancy.water_mark_whc_high }}</WhcHigh>
        <WhcLow>{{ x2_cyclonedds_for_redundancy.water_mark_whc_low }}</WhcLow>
      </Watermarks>
      <SocketReceiveBufferSize min="{{ x2_cyclonedds_for_redundancy.minimum_socket_receive_buffer_size }}"/>
      <SocketSendBufferSize min="{{ x2_cyclonedds_for_redundancy.minimum_socket_send_buffer_size }}"/>
    </Internal>
    <Tracing>
       <Verbosity>config</Verbosity>
       <OutputFile>/tmp/cyclonedds.log.${CYCLONEDDS_PID}</OutputFile>
     </Tracing>
  </Domain>
</CycloneDDS>
