[Unit]
Description=Synchronize the system clock to the one of enp3s0
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -s CLOCK_REALTIME -c enp3s0 -O 0 -m -I 0.1
ExecStop=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target network-online.target
