[Unit]
Description=Remap touch device to display
After=multi-user.target

[Service]
User=autoware
Type=oneshot
ExecStart=/opt/autoware/services/remap_touch_display/remap_touch_display.sh

[Install]
WantedBy=multi-user.target
