[Unit]
Description=jetson container
After=network-online.target
Requires=network.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/opt/autoware/jetson-container-service/run.sh %n
LimitRTPRIO=98
Environment="HOME=root"

[Install]
WantedBy=multi-user.target
