#!/bin/bash

source {{ autoware_env_dir }}/autoware.env && true
source {{ autoware_env_dir }}/vehicle.env

source /opt/ros/humble/setup.bash
source {{ x2_addon_perception_jetson_container_install_dir }}/overlay_ws/install/setup.bash

# reserve: letterbox_monitor
# mkdir -p {{ x2_addon_perception_jetson_container_install_dir }}/.ros/perception_log
# export ROS_LOG_DIR={{ x2_addon_perception_jetson_container_install_dir }}/.ros/perception_log

ros2 launch jetson_addon_launch jetson_addon.launch.xml
