#!/bin/bash

source {{ autoware_env_dir }}/autoware.env && true
source {{ autoware_env_dir }}/vehicle.env

source /opt/ros/humble/install/setup.bash
source {{ x2_addon_perception_jetson_container_install_dir }}/overlay_ws/install/setup.bash

ros2 launch jetson_addon_launch jetson_addon.launch.xml
