[Unit]
Description=Hide mouse cursor using unclutter-xfixes
After=display-manager.service
Requires=display-manager.service

[Service]
Type=simple
User=autoware
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/autoware/.Xauthority
ExecStart=/usr/bin/unclutter-xfixes --root --timeout 1
Restart=on-failure

[Install]
WantedBy=graphical.target
