#!/bin/bash

source {{ autoware_env_dir }}/autoware.env && true
source {{ autoware_env_dir }}/vehicle.env
source {{ autoware_env_dir }}/jetson.env

source /opt/ros/humble/install/setup.bash
source {{ perception_application_base_path }}/{{ perception_application_directory_name }}/install/setup.bash

{% if fool_proof_check | bool %}
source /opt/autoware/services/fool-proof-check/activate_call_diag.sh
{% endif %}

if [ "$VEHICLE_MODEL" == "j6_gen2" ]; then
    while [[ ! -e /var/run/mgbe1-ready ]]; do
        {% if fool_proof_check | bool %}
        call_diag_polling --status "Error" \
                --mrm_name_suffix mgbe1-ready \
                --event_id "Network Interface Error" \
                --message "/var/run/mgbe1-ready is not found" \
                --impact "Ethernet communication unavailable"
        {% endif %}
        sleep 1
    done
    call_diag_polling --status "Ok" \
            --mrm_name_suffix mgbe1-ready \
            --event_id "none" \
            --message "none" \
            --impact "none"
fi

{% if perception_type == "tlr" %}
ros2 launch edge_auto_jetson_launch edge_auto_multi_launch_engine.launch.py \
        build_engine_only:=true camera_driver_camera_ids:="[]" container_name:="none" \
        traffic_light_camera_ids:="[0]" object_recognition_camera_ids:="[0]"  \
        yolox_precision:=int8 live_sensor:=false use_multithread:=true
{% else %}
ros2 launch edge_auto_jetson_launch edge_auto_multi_launch_engine.launch.py \
        build_engine_only:=true camera_driver_camera_ids:="[]" container_name:="none" \
        traffic_light_camera_ids:="[]" object_recognition_camera_ids:="[0]"  \
        yolox_precision:=int8 live_sensor:=false use_multithread:=true
{% endif %}

{% for i in range(video_num) %}
while [[ ! -e /dev/video{{ i }} ]]; do
    {% if fool_proof_check | bool %}
        call_diag_polling --status "Error" \
                --mrm_name_suffix camera \
                --event_id "device not found" \
                --message "/dev/video{{ i }} is not found" \
                --impact "camera functionality unavailable"
    {% endif %}
    sleep 1
done

{% if fool_proof_check | bool %}
call_diag_polling --status "Ok" \
        --mrm_name_suffix camera \
        --event_id "none" \
        --message "none" \
        --impact "none"
{% endif %}

{% endfor %}

# for letterbox_monitor
mkdir -p {{ perception_application_base_path }}/.ros/recognition_log
export ROS_LOG_DIR={{ perception_application_base_path }}/.ros/recognition_log

ros2 launch edge_auto_jetson_launch edge_auto_jetson.launch.xml
