#!/bin/bash

source {{ autoware_env_dir }}/autoware.env && true
source {{ autoware_env_dir }}/vehicle.env

source /opt/ros/humble/install/setup.bash
source {{ perception_application_base_path }}/overlay_ws/install/setup.bash

ros2 launch edge_auto_jetson_launch edge_auto_jetson.launch.xml
