use_webauto_agent: true
vehicle_id: ""
project_id: ""
environment_id: ""
map_version_id: ""
env_file_paths:
  - "/home/autoware/vehicle.env"
  - "/root/vehicle.env"
upload_dest: "aws"
use_old_name: true
directories:
  - output_at: "{{ rosbag_logging_directory }}"
    output_mountpoint: "{{ rosbag_logging_directory_mountpoint }}"
    disk_threshold_error: 10
    disk_threshold_warning: 30
  - output_at: "{{ temporary_logging_directory }}"
    disk_threshold_error: 10
    disk_threshold_warning: 30
logging_mode:
  mode_list:
    - always
    - event
    - light
  default_mode: always
  operation_mode: event
  current_mode_file: /etc/autoware_logging_suite/logpacker/logging_mode
  always:
    enable_plugins:
      - rosbag
      - syslog
      - coredump
      - kdump
    rosbag:
      output_at: "{{ rosbag_logging_directory }}"
      recording_type: "manual"
      recording_mode_values:
        - ""
  event:
    enable_plugins:
      - rosbag
      - rotation
      - syslog
      - coredump
      - kdump
    rosbag:
      output_at: "{{ temporary_logging_directory }}"
      recording_type: "auto"
      recording_mode_values:
        - "InitializingVehicle"
        - "WaitingForRoute"
        - "Planning"
        - "WaitingForEngage"
        - "Driving"
        - "ArrivedGoal"
        - "Emergency"
        - "Finalizing"
    rotation:
      target_dir: "{{ temporary_logging_directory }}"
  light:
    enable_plugins:
      - rosbag
      - syslog
      - coredump
      - kdump
    rosbag:
      output_at: "{{ rosbag_logging_directory }}"
      recording_type: "manual"
      recording_mode_values:
        - ""
      topic_list:
        - "/autoware/(.*)"
rosbag:
  # If you use another file for rosbag configuration, define its file path. When not defined, this file will be used.
  # params_file: "{{ logpacker_config_dir }}/rosbag_params.yaml"
  recording_type: "manual"
  recording_mode_values:
    - "Planning"
    - "WaitingForEngage"
    - "Driving"
    - "Emergency"
    - "ArrivedGoal"
  initial_state: "ready"
  diag_ok_state:
    - "ready"
    - "recording"
  topic_list_type: "allowlist"
  topic_list:
    - "(.*)/cooperate_status/(.*)"
    - "(.*)/debug/cyclic_time_ms$"
    - "(.*)/processing_time_ms$"
    - "(.*)/metrics$"
    - "(.*)/virtual_wall/(.*)"
    - "/api/(.*)"
    - "/autoware/(.*)"
    - "/awapi/(.*)"
    - "/control/(.*)"
    - "/diagnostics(.*)"
    - "/external/(.*)"
    - "/in_vehicle_tool/log/(.*)"
    - "/j6/(.*)"
    - "/jpn_signal/traffic_light_info$"
    - "/l4_toolkit/(.*)"
    - "/localization/acceleration$"
    - "/localization/initialization_state$"
    - "/localization/kinematic_state$"
    - "/localization/pose_estimator/exe_time_ms$"
    - "/localization/pose_estimator/initial_pose_with_covariance$"
    - "/localization/pose_estimator/iteration_num$"
    - "/localization/pose_estimator/nearest_voxel_transformation_likelihood$"
    - "/localization/pose_estimator/pose(.*)"
    - "/localization/pose_estimator/transform_probability$"
    - "/localization/pose_twist_fusion_filter/biased_pose_with_covariance$"
    - "/localization/pose_twist_fusion_filter/estimated_yaw_bias$"
    - "/localization/pose_with_covariance$"
    - "/localization/twist_estimator/twist_with_covariance$"
    - "/localization/util/downsample/pointcloud$"
    - "/perception/(.*)/detection/expect/rois$"
    - "/perception/(.*)/detection/rois$"
    - "/perception/(.*)/detection/rough/rois$"
    - "/perception/(.*)/traffic_signals$"
    - "/perception/object_recognition/detection/apollo/objects$"
    - "/perception/object_recognition/detection/apollo/validation/objects$"
    - "/perception/object_recognition/detection/centerpoint/objects$"
    - "/perception/object_recognition/detection/centerpoint/validation/objects$"
    - "/perception/object_recognition/detection/clustering/camera_lidar_fusion/objects_with_feature$"
    - "/perception/object_recognition/detection/clustering/camera_lidar_fusion/objects$"
    - "/perception/object_recognition/detection/clustering/objects_with_feature$"
    - "/perception/object_recognition/detection/clustering/objects$"
    - "/perception/object_recognition/detection/detection_by_tracker/debug/(.*)"
    - "/perception/object_recognition/detection/detection_by_tracker/objects$"
    - "/perception/object_recognition/detection/mask(.*)"
    - "/perception/object_recognition/detection/objects_before_filter$"
    - "/perception/object_recognition/detection/objects$"
    - "/perception/object_recognition/detection/pointpainting_roi_cluster_fusion/objects$"
    - "/perception/object_recognition/detection/pointpainting/objects$"
    - "/perception/object_recognition/detection/pointpainting/validation/objects$"
    - "/perception/object_recognition/detection/radar/far_objects$"
    - "/perception/object_recognition/detection/rois(.*)"
    - "/perception/object_recognition/objects$"
    - "/perception/object_recognition/prediction/maneuver$"
    - "/perception/object_recognition/tracking/objects$"
    - "/perception/object_recognition/tracking/radar/far_objects$"
    - "/planning/mission_planning/checkpoint$"
    - "/planning/mission_planning/goal$"
    - "/planning/mission_planning/route$"
    - "/planning/mission_remaining_distance_time$"
    - "/planning/path_candidate/(.*)"
    - "/planning/path_reference/(.*)"
    - "/planning/planning_factors/(.*)"
    - "/planning/planning_validator/(.*)"
    - "/planning/scenario_planning/clear_velocity_limit$"
    - "/planning/scenario_planning/current_max_velocity$"
    - "/planning/scenario_planning/external_velocity_limit_selector/debug$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/debug/(.*)"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/debug/avoidance_debug_message_array$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/debug/bound$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/debug/lane_change_debug_message_array$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_lanes/(.*)"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/info/(.*)"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/input/lateral_offset$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/pull_over/debug/parking_area$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/debug/(.*)"
    - "/planning/scenario_planning/lane_driving/behavior_planning/debug/traffic_signal$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/path_with_lane_id$"
    - "/planning/scenario_planning/lane_driving/behavior_planning/path$"
    - "/planning/scenario_planning/lane_driving/force_lane_change$"
    - "/planning/scenario_planning/lane_driving/lane_change_approval$"
    - "/planning/scenario_planning/lane_driving/lane_change_candidate_path$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/trajectory$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/virtual_wall$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/debug/cruise_planning_info$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/debug/cruise/virtual_wall$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/debug/marker$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/debug/slow_down_planning_info$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/debug/slow_down/virtual_wall$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/debug/stop_planning_info$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/virtual_wall$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/adaptive_cruise_control/debug_values$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/debug/marker$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/obstacle_stop/debug_values$"
    - "/planning/scenario_planning/lane_driving/motion_planning/obstacle_velocity_limiter/trajectory$"
    - "/planning/scenario_planning/lane_driving/motion_planning/path_optimizer/trajectory$"
    - "/planning/scenario_planning/lane_driving/motion_planning/path_optimizer/virtual_wall$"
    - "/planning/scenario_planning/lane_driving/motion_planning/path_smoother/path$"
    - "/planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/(.*)$"
    - "/planning/scenario_planning/lane_driving/trajectory$"
    - "/planning/scenario_planning/max_velocity_candidates$"
    - "/planning/scenario_planning/max_velocity_default$"
    - "/planning/scenario_planning/max_velocity$"
    - "/planning/scenario_planning/modified_goal$"
    - "/planning/scenario_planning/parking/trajectory$"
    - "/planning/scenario_planning/scenario_selector/trajectory$"
    - "/planning/scenario_planning/status/(.*)"
    - "/planning/scenario_planning/trajectory$"
    - "/planning/scenario_planning/velocity_smoother/debug/trajectory_lateral_acc_filtered$"
    - "/planning/scenario_planning/velocity_smoother/distance_to_stopline$"
    - "/rosout$"
    - "/sensing/camera/(.*)/camera_info$"
    - "/sensing/camera/(.*)/image_raw/compressed$"
    - "/sensing/camera/(.*)/trigger_time$"
    - "/sensing/gnss/(.*)"
    - "/sensing/imu/(.*)"
    - "/sensing/lidar/(.*)/pandar_packets$"
    - "/sensing/radar/(.*)/nebula_packets$"
    - "/sensing/radar/detected_objects$"
    - "/sensing/vehicle_velocity_converter/twist_with_covariance$"
    - "/service_log$"
    - "/sub/(.*)"
    - "/system/(.*)"
    - "/tf_static$"
    - "/tf$"
    - "/v2x/traffic_signals$"
    - "/vehicle/(.*)"
    - "/webauto/enable_map_update$"
    - "/webauto/vehicle_info$"
  split_type: "duration"
  split_size: 1024
  split_duration: "60"
  max_cache_size: 104857600
  max_splits: -1
  max_splits_check_cycle: 1
  qos_profile_overrides_path: "{{ logpacker_config_dir }}/qos_profile_overrides.yaml"
  output_at: "{{ rosbag_logging_directory }}"
  exec_reindex: false
syslog:
  # If you use another file for syslog configuration, define its file path. When not defined, this file will be used.
  # params_file: "{{ logpacker_config_dir }}/syslog_params.yaml"
  unified_logs: true
  # expire_days: -1
  # keep_config: true
  initial_logfile_path: "/tmp/syslog"
  rsyslog:
    config_file: "{{ rsyslog_config_file }}"
    config_template: "{{ logpacker_config_dir }}/systemlog.conf.server.template"
    storage_filters:
      - "*.*"
    server: true
    server_port: 514
    tcp_enable: true
    udp_enable: false
    allowed_sender:
      - "127.0.0.1"
      - "192.168.10.0/24"
      - "192.168.20.0/24"
      - "192.168.30.0/24"
  output_at: "{{ rosbag_logging_directory }}"
# -------------------------------------------------------------------------------------------------
# coredump plugin configurations
# -------------------------------------------------------------------------------------------------
coredump:
  # If you use the other file for the coredump configuration, define its file path.
  # params_file: /etc/logging_system/logpacker/coredump_params.yaml
  # log_directory_path: "/var/lib/systemd/coredump"
  hosts:
    - host_name: autoware
      ip_addr: 192.168.20.11
      rsync_module: export
      # If 'host_name' and 'ip_addr are empty, it means local host.
      # Local host needs log_dir_path, instead of 'rsync_module'.
      # log_dir_path: /var/lib/systemd/coredump
      options:
        - "-auv"
    - host_name: perception1
      ip_addr: 192.168.20.31
      rsync_module: export
      # If 'host_name' and 'ip_addr are empty, it means local host.
      # Local host needs log_dir_path, instead of 'rsync_module'.
      # log_dir_path: /var/lib/systemd/coredump
      options:
        - "-auv"
    - host_name: perception2
      ip_addr: 192.168.20.32
      rsync_module: export
      # If 'host_name' and 'ip_addr are empty, it means local host.
      # Local host needs log_dir_path, instead of 'rsync_module'.
      # log_dir_path: /var/lib/systemd/coredump
      options:
        - "-auv"
  output_at: "{{ rosbag_logging_directory }}"
# -------------------------------------------------------------------------------------------------
# kdump plugin configurations
# -------------------------------------------------------------------------------------------------
kdump:
  # If you use the other file for the kdump configuration, define its file path.
  # params_file: "{{ logpacker_config_dir }}/kdump_params.yaml"
  log_directory_path: "/var/crash"
  output_at: "{{ rosbag_logging_directory }}"
rotation:
  count_limit: 0
  space_limit: 10
  days_limit: 0
  target_dir: "{{ temporary_logging_directory }}"
  check_cycle: 1
