/**:
  ros__parameters:
    metric_agent_config_file: "{{ metric_agent_config_file }}"
    metric_agent_rate_in_hz: {{ metric_agent_rate_in_hertz }}
    metric_agent_pubs_rate_in_hz: {{ metric_agent_pubs_rate_in_hertz }}
    metric_agent_subs_rate_in_hz: {{ metric_agent_subs_rate_in_hertz }}
