/**:
  product_metrics_config: # product_metric_config_for_X2
    ## j6_interface_metric
    - metric_name: vehicle_interface_steering_wheel_torque
      topic_name: /vehicle/metrics/steering_wheel_torque
      metric_description: steering wheel torque data from vehicle_interface
      message_type: tier4_debug_msgs/msg/Float32Stamped
      output_type: gauge
      output_cycle: 10
      aggregate: true
      aggregate_type: [max]
      aggregate_reset_count: 0
      qos_size: 10 # Optional: QoS size
      qos_reliability: best_effort # Optional: QoS reliability
      custom_key: steering_wheel_torque
      custom_tag: steering_wheel_torque
