[Unit]
Description=autoware_localization_launch
After=network-online.target autoware_api_launch.service autoware_map_launch.service autoware_sensing_launch.service autoware_system_launch.service

[Service]
ExecStart=/opt/autoware/services/system_launch/autoware_localization_launch.service/run.sh
KillSignal=SIGINT
User=autoware

[Install]
WantedBy=multi-user.target
