[Unit]
Description=autoware_vehicle_launch
After=network-online.target peak-can-mini-pcie.service

[Service]
ExecStart=/opt/autoware/services/system_launch/autoware_vehicle_launch.service/run.sh
KillSignal=SIGINT
User=autoware

[Install]
WantedBy=multi-user.target
