[Unit]
Description=autoware_sub_launch
After=network-online.target

[Service]
Environment=ENABLE_AGNOCAST=1
ExecStart=/opt/autoware/services/system_launch/autoware_sub_launch.service/run.sh
KillSignal=SIGINT
User=autoware
SyslogIdentifier=autoware_sub_launch

[Install]
WantedBy=multi-user.target
