[Unit]
Description=autoware_system_launch
After=network-online.target tier4_ros2_standby_wait.target

[Service]
Environment=ENABLE_AGNOCAST=1
Environment=AGNOCAST_BRIDGE_MODE=performance
ExecStart=/opt/autoware/services/system_launch/autoware_system_launch.service/run.sh
KillSignal=SIGINT
User=autoware
SyslogIdentifier=autoware_system_launch

[Install]
WantedBy=multi-user.target
